# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo

# Virtual environments
.env
.venv/
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# Celery
celerybeat-schedule
celerybeat.pid

# Redis dump files
dump.rdb

# Docker
.dockerignore

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
